<script>
  function countAddChar(val) {
    var len = val.value.length;
    if (len > 160) {
      val.value = val.value.substring(0, 160);
    } else {
      $('#addCharNum').text(160 - len + ' characters left');
    }
  };
  $('body').click(function (evt) {
    if (evt.target.id != "field" && evt.target.id != "addCharNum") {
      $('#addCharNum').hide();
    } else {
      $('#addCharNum').show();
    };
  });
</script>
<%= form_with(model: [restaurant, comment], remote: true) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation" class="form-inline alert alert-danger">
      <h2 class="alert-heading">There is some errors.</h2>
      <h4 class="alert-heading">
        <%= pluralize(comment.errors.count, "error") %> prohibited this user from being saved:
      </h4>
      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group" id="form-text">
    <%= f.text_area :content, placeholder: 'Type your comment!', class: "form-control", id: "field", onkeyup: "countAddChar(this)" %>
  </div>
  <div id="addCharNum"></div>
  <div class="form-group">
    <%= f.submit 'Update', class: "btn btn-outline-success btn-sm" %>
  </div>
<% end %>