<div class="container-fluid comment">
  <div class="row">
    <div class="col-md-3 col-sm-0">
      <div class="comment-restaurant row">
        <div class="col-12">
          <%= image_tag @restaurant.photo.url %>
        </div>
        <div class="col-12">
          <h5><%= @restaurant.name %></h5>
        </div>
        <div class="col-12">
          <% @restaurant.tags.uniq.each do |tag| %>
            <h6 class="badge badge-pill badge-success">
              <%=tag.name%>
            </h6>
          <% end %>
        </div>
        <div class="col-12">
          <p>Collection: <%= @restaurant.collected_users.size %></p>
        </div>
        <div class="col-12">
          <% @restaurant.collected_users.shuffle.each do |cu| %>
            <%= link_to user_path(cu), class: "comment-coll-users" do %>
              <%= image_tag cu.photo.url, title: "#{cu.name}" %>
            <% end %>
          <% end %>
        </div>
        <div class="col-12">
          <%= link_to "Back", restaurant_path(@restaurant), class: "btn btn-outline-primary btn-sm" %>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-sm-12">
      <div class="comment-create row">
        <script>
          function countChar(val) {
            var len = val.value.length;
            if (len >= 160) {
              val.value = val.value.substring(0, 160);
            } else {
              $('#charNum').text(160 - len + ' characters left');
            }
          };
        </script>
        <div class="col-12">
          <%= form_with(model: [@restaurant, @comment], local: true) do |f| %>
            <% if @comment.errors.any? %>
              <div id="error_explanation" class="form-inline alert alert-danger">
                <h2 class="alert-heading">There is some errors.</h2>
                <h4 class="alert-heading">
                  <%= pluralize(@comment.errors.count, "error") %> prohibited this user from being saved:
                </h4>
                <ul>
                  <% @comment.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-group" id="form-text">
              <%= f.text_area :content, placeholder: 'Type your comment!', class: "form-control", id: "field", onkeyup: "countChar(this)" %>
            </div>
            <div id="charNum"></div>
            <div class="form-group">
              <% if params[:id] %>
                <%= f.submit 'Update', class: "btn btn-outline-success btn-sm" %>
              <% else %>
                <%= f.submit 'Send', class: "btn btn-outline-success btn-sm" %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="col-12">
          <h6><%= @restaurant.comments_count %> comments</h6>
        </div>
        <div class="col-12 comment-show">  
          <div class="comment-all">
            <% @comments.each do |cs| %>
              <div class="row comment-user">
                <div class="col-3">
                  <div class="row">
                    <div class="col-4">
                      <%= image_tag cs.user.photo.url %>
                    </div>
                    <div class="col-8">
                      <p><%= cs.user.name %></p>
                      <p><%= cs.updated_at.strftime("%b %d, %Y") %></p>
                    </div>
                  </div>
                </div>
                <div class="offset-7 col-2">
                  <i class="far fa-thumbs-up"></i>
                </div>
                <div class="col-12">
                  <%= cs.content %>
                </div>
                <% if cs.user == current_user || current_user.admin? %>
                  <div class="col-12">
                    <%= link_to 'Edit', restaurant_comments_path(id: cs.id), class: "btn btn-outline-success btn-sm" %>
                    <%= link_to 'Delete', restaurant_comment_path(restaurant_id: cs.restaurant, id: cs), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger btn-sm" %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>