<div class="user-background">
  <div class="container user-page">
    <%= render "shared/user_profile", object: @user %>
    <div class="row">
      <div class="col-md-3">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action list-link">
            <%= link_to 'Profile', user_path(@user) %>
          </li>
          <li class="list-group-item list-group-item-action list-group-item-success">
            Collection
          </li>
          <li class="list-group-item list-group-item-action  list-link">
            <%= link_to "Followings", followings_user_path(@user) %>
          </li>
        </ul>
      </div>
      <div class="col-md-9 user-content">
        <div class="row">
          <% @restaurants.each do |restaurant| %>
            <div class="col-12">
              <div class="restaurant-item">
                <div class="row">
                  <div class="col-4">
                    <div class="restaurant-image">
                      <% if restaurant.photo? %>
                        <%= image_tag restaurant.photo.url, class: "img-responsive center-block" %>
                      <% else %>
                        <span class="glyphicon glyphicon-picture"></span>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="restaurant-caption">
                      <h5>
                        <%= link_to restaurant.name, restaurant_path(restaurant), class: "coll-link" %>
                        <%= render 'shared/collect', restaurant: restaurant %>
                      </h5>
                      <h5>
                        <% restaurant.tags.uniq.each do |tag| %>
                          <%= link_to(tag) do %>
                            <span class="badge badge-pill badge-success"><%=tag.name%></span>
                          <% end %>
                        <% end %>
                      </h5>
                      <p><%= truncate(restaurant.intro, length: 100) %></p>
                      <p><%= restaurant.address.slice(0..1) %><span class="coll-tel"><%= restaurant.tel %></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>