<h1>後台</h1>

<div>
  <%= link_to 'Tags', admin_tags_path %>
  |
  <%= link_to 'Restaurants', admin_restaurants_path %>
  |
  <%= link_to 'Users', admin_users_path %>
</div>

<%= form_tag import_restaurants_path, multipart: true do%>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Restaurants"%>
<% end %>

<div class="row">
  <div class="col-md-12">
    <br>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th style="width: 10%">Name</th>
          <th style="width: 10%">Intro</th>
          <th style="width: 3%">Photo</th>
          <th style="width: 5%">Open</th>
          <th style="width: 5%">Close</th>
          <th style="width: 3%">Provider</th>
          <th style="width: 16%">Address</th>
          <th style="width: 10%">Tel</th>
          <th style="width: 1%">lat</th>
          <th style="width: 1%">lon</th>
          <th style="width: 3%">Rest</th>
          <th style="width: 12%">Business_hour</th>
          <th>  </th>
        </tr>
      </thead>

      <tbody>
        <% @restaurants.each do |restaurant| %>
          <tr>
            <%#= link_to restaurant_path(restaurant) do %>
              <td><%= restaurant.name %></td>
              <td><%= restaurant.intro %></td>              
              <td>
                <%= link_to(restaurant_path(restaurant)) do %>
                  <div class="avatar-navi">
                    <%= image_tag restaurant.photo.url, class: "img-fluid rounded" %>
                  </div>
                <% end %>
              </td>
              <td><%= restaurant.open_hour %></td>
              <td><%= restaurant.close_hour %></td>
              <td>
                <% if restaurant.user%>
                  <%= restaurant.user.name%>
                <% else %>
                  <%= "seed" %>
                <% end %>
              </td>
              <td><%= restaurant.address %></td>
              <td><%= restaurant.tel %></td>
              <td><%= restaurant.latitude.round(3) %></td>
              <td><%= restaurant.longitude.round(3) %></td>
              <td><%= restaurant.rest_day %></td>
              <td><%= restaurant.business_hour %></td>
            <%# end %>
              <td>
                <%= link_to admin_restaurants_path(id: restaurant.id) do%>
                  <%= icon 'far', 'edit' %>
                <% end %>
                  | 
                <%= link_to admin_restaurant_path(restaurant), method: :delete, data: {confirm: "Are you sure?"} do %>
                  <%= icon 'far', 'trash-alt' %>
                <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="text-center">
      <%#= paginate @restaurants %>
    </div>
  </div>
</div>
