<br />
<div class="rest-main row">
  <div class="col-md-8">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div id="carousel-img" class="carousel-item active">
          <%= image_tag @restaurant.photo.url, alt:@restaurant.name, class:"img-fluid", style:'width:100%' %>
        </div>
        <% if !@meals.empty?%>
          <% @meals.each do |meal| %>
            <div class="carousel-item">
              <%= image_tag meal.photo.url, alt:meal.name %>
            </div>
          <% end %>
        <% end %>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-success border-success" style="height: 100%">
      <h3 class="card-header"><%= @restaurant.name %></h3>
      <h5 class="card-title"><%= @restaurant.address %></h5>
      <h5 class="card-text"><%= @restaurant.tel %></h5>
      <p class="card-text">6 Favorites</p>
      <p class="card-text">5 Check-ins</p>
      <p class="card-text">6 Comments</p>
      <p class="card-text">3 Muslim Tips</p>
      <p class="card-text">2 Photos</p>
      <a href="#" class="btn text-right"><i class="fas fa-camera-retro fa-3x text-success" ></i>
      </a>
    </div>
  </div>
  
</div>
<br />
<div class="row text-success">
  
  <div class="col-md-5">
    <div class="row">
      <div class="col-auto mr-auto">Feed</div>
      <div class="col-auto">(3<%#= @restaurant.comments.count %>)</div>
    </div>
      <%# @restaurant.comments.each do |comment| %>
        <%#= image_tag comment.user.url %>
        <%#= comment.user.name %>
        <%#= comment.content %>
        <hr />
      <%# end %>
  </div>
  <div class="col-md-5">
    <div class="tips">
      <p class="">Other Muslim Tips</p>
        <%# @restaurant.hashtags do |tag| %>
          <p class=""><%#=link_to tag.users.count  %>3 person says #sea_food<%#= tag.content %></p> 
        <%# end %>
    </div>
    <hr />
    <div class="meals">
      <p class="">Other Muslim Meals</p>
        <%# @restaurant.meals.each do |meal| %>
          <p class=""><%#=link_to meal.users.count  %>12 person ordered egg roll<%#= meal.name %></p> 
        <%# end %>
    </div>
  </div>
  <div class="col-md-2">
    <p class="btn btn-success">check in</p>
    <p class="btn btn-success">Comment</p>
  </div>
</div>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
